## 22.1 리스트 조작하기

### 22.1.1 리스트에 요소 추가하기

    - append : 요소 하나를 추가
    - extend : 리스트를 연결하여 확장
    - insert : 특정 인덱스에 요소 추가

### 22.1.2 리스트에 요소 하나 추가하기

In [1]:
a = [10, 20, 30]
a.append(500)
a

[10, 20, 30, 500]

In [2]:
a = []
a.append(10)
a

[10]

### 22.1.3 리스트 안에 리스트 추가

In [3]:
a = [10,20,30]
a.append([500,600])
a

[10, 20, 30, [500, 600]]

In [4]:
len(a)

4

### 22.1.4 리스트 확장하기

In [5]:
a = [10, 20, 30]
a.extend([500,600])
a

[10, 20, 30, 500, 600]

In [6]:
a = [10, 20, 30]
b = [40,50]
a.extend(b)
a

[10, 20, 30, 40, 50]

### 22.1.5 리스트의 특정 인덱스에 요소 추가하기

In [27]:
a = [10,20,30]
a.insert(2, 500)
a

[10, 20, 500, 30]

In [28]:
len(a)

4

In [29]:
a.insert(50000, 1000)
a

[10, 20, 500, 30, 1000]

### 22.1.6 리스트에서 요소 삭제하기

In [38]:
a = [10,20,30]
# 특정 인덱스 삭제
b = a.pop()
print(a)
print(b)

# 특정 값으로 삭제
a.remove(20)
print(a)

[10, 20]
30
[10]

### 22.1.7 리스트에서 특정 인덱스 요소를 삭제하기

In [42]:
a = [10,20,30]
# 특정 인덱스 삭제
b = a.pop(1)
print(a)
print(b)

del a[0]
print(a)

[10, 30]
20
[30]

### 22.1.8 리스트에서 특정 값을 찾아 삭제하기

In [43]:
a = [10, 20, 30]
a.remove(20)
a

[10, 30]

In [44]:
a = [10,20,30,20]
# 처음 찾은 값만 삭제 인덱스 낮은 순
a.remove(20)
a

[10, 30, 20]

### 리스트로 스택과 큐 만들기

In [ ]:
# 리스트로 스택 만들기
a = [0,1,2,3,4,5,6,7,8,9]
a.append(10)
a.pop()

# 리스트로 큐 만들기
a = [0,1,2,3,4,5,6,7,8,9]
a.append(10)
a.pop(0)

In [45]:
# deque (double ended queue ) 자료형 사용하기
from collections import deque
a = deque([10,20,30])
a

deque([10, 20, 30])

In [46]:
a.append(500)
a

deque([10, 20, 30, 500])

In [47]:
a.popleft()

10

In [48]:
a

deque([20, 30, 500])

### 22.1.9 리스트에서 특정 값의 인덱스 구하기

In [49]:
a = [10,20,30,15,20,40]
# 특정 값으로 인덱스 구하기
a.index(20)

1

### 22.1.10 특정 값의 개수 구하기

In [50]:
a = [10,20,30,15,20,40]
# 특정 값의 개수 구하기
a.count(20)

2

### 22.1.11 리스트의 순서를 뒤집기

In [55]:
a = [10,20,30,15,20,40]
a.reverse()
a

[40, 20, 15, 30, 20, 10]

In [56]:
b = list(reversed(a))
print('a', a)
print('b', b)

a [40, 20, 15, 30, 20, 10]
b [10, 20, 30, 15, 20, 40]

### 22.1.12 리스트의 요소를 정렬하기

In [52]:
a = [10,20,30,15,20,40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

In [57]:
a = [10,20,30,15,20,40]
a.sort() # a의 내용을 변경하여 정렬
a

b = [10,20,30,15,20,40]
c = sorted(b) # 정렬된 새 리스트를 생성
print(b)
print(c)

[10, 20, 30, 15, 20, 40]
[10, 15, 20, 20, 30, 40]

### 22.1.13 리스트의 모든 요소를 삭제하기

In [58]:
a = [10,20,30]
a.clear()
a

[]

In [59]:
a = [10, 20, 30]
del a[:]
a

[]

### 22.1.14 리스트를 슬라이스로 조작하기

In [63]:
a = [10,20,30]
a[len(a):] = [500]
a

[10, 20, 30, 500]

In [70]:
a = [10,20,30]
print(a)

# 없는 인덱스라서 오류가 남
# a[3] = 500
a[3:] = [500] # 슬라이스로 조작 가능 []형태로 조작해야함. extend와 같은 효과
a

[10, 20, 30]

[10, 20, 30, 500]

---

## 22.2 리스트의 할당과 복사 알아보기

In [73]:
a = [0,0,0,0,0,0]
b = a 
print(a)
print(b)
print(id(a))
print(id(b))
# 할당으로 둘다 같은 아이디 
print('a is b?', a is b)

b[2] = 99
print(a)
print(b)

[0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0]
2091194275584
2091194275584
a is b? True
[0, 0, 99, 0, 0, 0]
[0, 0, 99, 0, 0, 0]

In [74]:
# 리스트 a와 b를 완전히 두 개로 만들려면 copy() 메서드로 모든 요소를 복사해야함.
a = [0,0,0,0]
b = a.copy()
print(a)
print(b)
b[0] = 1
print()
print(a)
print(b)

[0, 0, 0, 0]
[0, 0, 0, 0]

[0, 0, 0, 0]
[1, 0, 0, 0]

---

## 22.3 반복문으로 리스트의 요소를 모두 출력하기

### 22.3.1 for 반복문으로 요소 출력하기

### 22.3.2 인덱스와 요소를 함께 출력하기

In [75]:
a = [38, 21, 53, 62, 19]
for index, value in enumerate(a):
    print(index, value)

0 38
1 21
2 53
3 62
4 19

### 22.3.3 while 반복문으로 요소 출력하기

### 22.4.1 가장 작은 수와 가장 큰 수 구하기

### 22.4.2 요소의 합계 구하기

---

## 22.5 리스트 표현식 사용하기

In [78]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 22.5.1 리스트 표현식에서 if 조건문 사용하기

In [93]:
a = [i for i in range(10) if i % 2 == 0]
print(a)

# 삼항 연산자 사용
b = [i if i % 2 == 0 else i * 10 for i in range(10)]
print(b)

c = [i if i %2 ==0 else i * 2 for i in range(10)]
print(c)

[0, 2, 4, 6, 8]
[0, 10, 2, 30, 4, 50, 6, 70, 8, 90]
[0, 2, 2, 6, 4, 10, 6, 14, 8, 18]

---

## 22.6 리스트에 map 사용하기

### 22.6.1 input().split()과 map

---

## 22.7 튜플 응용하기

### 22.7.1 튜플에서 특정 값의 인덱스 구하기

### 22.7.2 특정 값의 개수 구하기

### 22.7.3 for 반복문으로 요소 출력하기

### 22.7.4 튜플 표현식 사용하기

### 22.7.5 tuple에 map 사용하기

### 22.7.6 튜플에서 가장 작은수, 가장 큰수, 합계 구하기