## 26.1 세트 만들기

In [1]:
fruits = {'strawberry', 'grape', 'orange', 'pipneapple', 'cherry'}
fruits

{'cherry', 'grape', 'orange', 'pipneapple', 'strawberry'}

#### set  = {값1, 값2, 값3}

### 26.1.1 세트에 특정 값이 있는지 확인하기

In [2]:
fruits = {'strawberry', 'grape', 'orange', 'pipneapple', 'cherry'}

'orange' in fruits

True

In [3]:
'peach' in fruits

False

### 26.1.2 set를 사용하여 세트 만들기

In [4]:
a = set('apple')
a

{'a', 'e', 'l', 'p'}

In [5]:
b = set(range(5))
b

{0, 1, 2, 3, 4}

In [7]:
c = set()
c

set()

---

## 26.2 집합 연산 사용하기

In [8]:
# 합집합
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a|b # 합집합

{1, 2, 3, 4, 5, 6}

In [10]:
# 합집합
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a.union(b) # 합집합

{1, 2, 3, 4, 5, 6}

In [11]:
a & b # 교집합

{3, 4}

In [13]:
set.intersection(a,b)# 교집합

{3, 4}

In [14]:
# 차집합
a - b

{1, 2}

In [15]:
# 차집합
b - a

{5, 6}

In [16]:
set.difference(a,b)

{1, 2}

In [17]:
# xor 연산
a ^ b # 대칭차집합 연산

{1, 2, 5, 6}

### 26.2.1 집합 연산 후 할당 연산자 사용하기

In [18]:
a = {1,2,3,4}
a |= {5}
a

{1, 2, 3, 4, 5}

In [19]:
a = {1,2,3,4}
a.update({5})
a

{1, 2, 3, 4, 5}

In [20]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

a &= b
a

{3, 4}

In [21]:
a = {1, 2, 3, 4}

a.intersection_update({0,1,2,3,4})
a

{1, 2, 3, 4}

### 26.02.2 부분 집합과 상위집합 확인하기

In [22]:
a = {1, 2, 3, 4}
a <= {1,2,3,4}

True

In [23]:
a.issubset({1,2,3,4,5})

True

In [24]:
a = {1,2,3,4}
a >= {1,2,3,4}

True

In [25]:
a.issuperset({1,2,3,4})

True

### 26.2.3 세트가 같은지 다른지 확인하기

In [26]:
a = {1, 2, 3, 4}
a == {1, 2, 3, 4}

True

In [27]:
a == {4, 1, 2, 3}

True

### 26.2.4 세트가 겹치지 않는지 확인하기

In [28]:
a = {1, 2, 3, 4}
a.isdisjoint({5,6,7,8,}) # 겹치는 요소 없음

True

In [30]:
a.isdisjoint({3,6,7,8}) # 겹치는 요소 있음 3

False

---

## 26.3 세트 조작하기

### 26.3.1 세트에 요소 추가하기

In [31]:
a = {1,2,3,4}
a.add(5)
a

{1, 2, 3, 4, 5}

### 26.3.2 세트에서 특정 요소를 삭제하기

In [32]:
a = {1,2,3,4}
a.remove(3)
a

{1, 2, 4}

In [34]:
a.remove(5) # 세트에 특정 요소가 없다면 에러 발생|

KeyError: 5

In [35]:
a

{1, 2, 4}

In [37]:
a.discard(2)
a

{1, 4}

In [39]:
a.discard(5) # 특정 요소를 삭제하고 요소가 없으면 그냥 넘어감
a

{1, 4}

### 26.3.3 세트에서 읨의의 요소를 삭제하기

In [42]:
a = {1,2,3,4}
a.pop()
# pop
# 임의의 요소를 삭제하고 해당 요소를 반환 
# 요소가 없으면 에러 발생

1

### 26.3.4 세트의 모든 요소를 삭제하기

In [45]:
a

{3, 4}

In [47]:
a.clear()
a

set()

### 26.3.5 세트의 요소 개수 구하기

In [48]:
a = {1,2,3,4}
len(a)

4

---

## 26.4 세트의 할당과 복사

In [49]:
a = {1,2,3,4}
b = a

In [50]:
a is b

True

In [51]:
b.add(5)

In [52]:
print(a)
print(b)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [53]:
a = {1,2,3,4}
b = a.copy()

In [54]:
a is b

False

In [55]:
a == b

True

---

## 26.5 반복문으로 세트의 요소를 모두 출력하기

In [61]:
a = {1,2,3,4,5}
for i in a :
    print(i)
    
# 세트의 요소는 순서가 없으므로 출력할 때마다 순서가 달라짐

1
2
3
4
5

---

## 26.6 세트 표현식 사용하기

In [62]:
a = {i for i in 'apple'}
a

{'a', 'e', 'l', 'p'}

In [64]:
a = set(i for i in 'banana')
a

{'a', 'b', 'n'}

### 26.6.1 세트 표현식에 if 조건문 사용하기

In [65]:
a = {i for i in 'pineapple' if i not in 'apl'}
a

{'e', 'i', 'n'}